<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Website Express Example</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Welcome to the About Page</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="#">About</a>
        </nav>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, explicabo est sit quibusdam blanditiis nemo.
            Labore, aut cum maxime earum saepe quisquam atque, itaque corporis ullam, quam suscipit. Amet, dolorem.</p>
    </div>
</body>

</html>